<!DOCTYPE html>
<html lang="en">

<head>
  <title>Aberdeen Harbour Arrival History</title>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Fira+Sans&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/static/style.css?u={{ last_updated }}/" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <style>
    #gChecking {
      width: 200px;
      height: 160px;
      display: inline-block;
      margin: 1em;
    }
  </style>
</head>

<body>
  <div class="header">
    {% include 'navigation.html' %}
  </div>
  <div class="content">

    {% include 'disclaimer.html' %}

    {% if errors|length > 0 %}
      <section class="box" style="background-color: red; color: white;">
        <div class="body">
          <h2>Errors!</h2>
          {% for error in errors %}
            {{ error }}<br/>
          {% endfor %}
        </div>
      </section>
    {% endif %}

    <h1>{% block title %}{% endblock %}</h1>

    {% block content %}{% endblock %}
  </div>
</body>

</html>
