<section class="disclaimer">
  <p>This website is part of the <a
      href="https://codethecity.org/what-we-do/hack-weekends/code-the-city-19-history-data-innovation/"
      class="link">CodeTheCity 19: History + Data = Innovation</a> and <a href="https://codethecity.org/what-we-do/hack-weekends/code-the-city-20-history-and-culture" class="link">CodeTheCity 20: History and Culture</a> events. It's very much a work in progress playground
    for extracting and presenting the historical vessel arrival information.</p>
  <p>The source code for this dashboard is available on <a
      href="https://github.com/CodeTheCity/historical_harbour_arrivals_api" class="link">GitHub</a>.</p>
</section>
