{% extends 'base.html' %}

{% block title %}Aberdeen Harbour Historic Arrivals Downloads{% endblock %}

{% block content %}
	<h2>Download Data</h2>
	<h3>CSV</h3>
	<p>
	  <a href="/api/v1.0/arrivals.csv" class="button">Download all data as CSV</a>
	  <a href="/api/v1.0/vessels.csv" class="button">Download vessel list as CSV</a>
	</p>
	<h3>JSON</h3>
	<p>
	  <a href="/api/v1.0/arrivals" class="button">Download all data as JSON</a>
	  <a href="/api/v1.0/weather" class="button">Download weather events as JSON</a>
	  <a href="/api/v1.0/cargo" class="button">Download cargo list as JSON</a>
	</p>
{% endblock %}