<!DOCTYPE html>
	<head>
			<title>Harbour Arrival History Dashboard</title>
			<link rel="stylesheet" href="../static/style.css/">
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<h1>Dashboard</h1>
		<p>This is very much a work in progress playground for extracting and presenting the historical vessel arrival information.</p>
		
		<h2>Cargo</h2>
		{{ cargo|join(', ') }}

		<h2>Vessels</h2>
		{{ vessels|join(', ') }}

		<h2>Registered Ports</h2>
		{{ registered_ports|join(', ') }}

		<h2>From Ports</h2>
		{{ from_ports|join(', ') }}


		<h2>Cargo Arrivals</h2>
		<img src="/plot/cargo/1914" alt="Image Placeholder">
		<img src="/plot/cargo/1915" alt="Image Placeholder">
		<img src="/plot/cargo/1916" alt="Image Placeholder">
		<img src="/plot/cargo/1917" alt="Image Placeholder">
		<img src="/plot/cargo/1918" alt="Image Placeholder">
		<img src="/plot/cargo/1919" alt="Image Placeholder">
		<img src="/plot/cargo/1920" alt="Image Placeholder">
	</body>
</html>