{% macro entries_table(entries) %}
	<p><strong>Checked</strong> indicates if the transcription of the entry has been checked by a second person.</p>
	<table class="dataframe">
		<tr>
			<th>Date</th>
			<th>Vessel</th>
			<th>Number</th>
			<th>Registered Port</th>
			<th>Master</th>
			<th>Registered Tonnage</th>
			<th>From Port</th>
			<th>Cargo</th>
			<th>Checked</th>
		</tr>
	{% for entry in entries %}
		{% if entry[9] %}
			<tr>
				<td colspan="8" style="background-color: #000000;"><strong>Transcriber note for following entry:</strong> {{ entry[9] }}</td>
			</tr>
		{% endif %}
		<tr>
			<td nowrap>{{ entry[0] }}</td>
			<td><a href="/vessel/{{ entry[1] }}" class="link">{{ entry[1] }}</a></td>
			<td>{{ entry[2] }}</td>
			<td><a href="/registered_port/{{ entry[3] }}" class="link">{{ entry[3] }}</a></td>
			<td><a href="/master/{{ entry[4] }}" class="link">{{ entry[4] }}</a></td>
			<td>{{ entry[5] }}</td>
			<td><a href="/from_port/{{ entry[6] }}" class="link">{{ entry[6] }}</a></td>
			<td><a href="/cargo/{{ entry[7] }}" class="link">{{ entry[7] }}</a></td>
			<td style="text-align: center">
				{% if entry[8] == '' %}
				{% else %}
					Yes
				{% endif %}
			</td>
		</tr>
	{% endfor %}
	</table>
{% endmacro %}

{% macro grouped_entries(title, detail_page, entries) %}
	<h2>{{ title }} ({{ entries|length }} unique)</h2>
	<div style="text-align: left">
		{% set ns = namespace(letter = ' ') %}
		{% for entry in entries %}
			{% if entry[0] != ns.letter %}
				{% set ns.letter = entry[0] %}
				<h3>{{ ns.letter }}</h3>
				
			{% endif %}
			<a href = {{ url_for(detail_page, filter=entry)}} class="link">{{ entry }}</a>, 
		{% endfor %}
	</div>
{% endmacro %}