{% macro entries_table(entries) %}
	<table class="dataframe">
		<tr>
			<th>Date</th>
			<th>Vessel</th>
			<th>Number</th>
			<th style="text-align: center">Registered Port</th>
			<th>Master</th>
			<th style="text-align: right">Registered Tonnage</th>
			<th>Port of Origin</th>
			<th>Cargo</th>
			<th>Activity</th>
			<th>Fishing Port Registration Number</th>
			<th>Checked</th>
		</tr>
	{% for entry in entries %}
		{% if entry[11] %}
			<tr>
				<td colspan="11" style="background-color: #00000040;"><strong>Transcriber note for following entry:</strong> {{ entry[10] }}</td>
			</tr>
		{% endif %}
		<tr>
			<td nowrap>
				{% if entry[0] != None %}
					<a href="/day/{{ entry[0].split('-')[2] }}/{{ entry[0].split('-')[1] }}/{{ entry[0].split('-')[0] }}" class="link">{{ entry[0] }}</a>
				{% else %}
					{{ entry[0] }}
				{% endif %}
			</td>
			<td nowrap><a href="/vessel/{{ entry[1] }}" class="link">{{ entry[1] }}</a></td>
			<td style="text-align: right;">{{ entry[2] }}</td>
			<td style="text-align: center"><a href="/registered_port/{{ entry[3] }}" class="link">{{ entry[3] }}</a></td>
			<td><a href="/master/{{ entry[4] }}" class="link">{{ entry[4] }}</a></td>
			<td style="text-align: right;">{{ entry[5] }}</td>
			<td><a href="/from_port/{{ entry[6] }}" class="link">{{ entry[6] }}</a></td>
			<td><a href="/cargo/{{ entry[7] }}" class="link">{{ entry[7] }}</a></td>
			<td nowrap><a href="/activity/{{ entry[8] }}" class="link">{{ entry[8] }}</a></td>
			<td><a href="/fishing_port_registration_number/{{ entry[10] }}" class="link">{{ entry[10] }}</a></td>
			<td style="text-align: center">
				{% if entry[9] == '' %}
				{% else %}
					Yes
				{% endif %}
			</td>
		</tr>
	{% endfor %}
	</table>

	<section class="box">
		<h2>Column Definitions</h2>
		<div style="text-align:left">
			<dl>
				<dt>Date</dt>
				<dd>The date the vessel arrived at Aberdeen harbour</dd>
				<dt>Vessel</dt>
				<dd>Name of the vessel that arrived on the date</dd>
				<dt>Number</dt>
				<dd>Entry number in the log book</dd>
				<dt>Registered Port</dt>
				<dd>The port, or country, in which the vessel was registered at</dd>
				<dt>Master</dt>
				<dd>The person or company in charge of running the vessel</dd>
				<dt>Registered Tonnage</dt>
				<dd>Net registered tonnage of the vessel arriving</dd>
				<dt>Port of Origin</dt>
				<dd>The port that the vessel sailed from to arrive at Aberdeen</dd>
				<dt>Cargo</dt>
				<dd>What the vessel was carrying</dd>
				<dt>Activity</dt>
				<dd>What activity the vessel was carrying out. Note: this is extracted from the source transcribed cargo.</dd>
				<dt>Checked</dt>
				<dd>Has the transcription been checked by a second person</dd>
			</dl>
		</div>
	</section>
{% endmacro %}

{% macro grouped_entries(title, detail_page, entries) %}
	<h2>{{ title }} ({{ entries|length }} unique)</h2>
	<div style="text-align: left">
		<ul>
		{% set ns = namespace(letter = ' ') %}
		{% for entry in entries %}
			{% if entry[0] != ns.letter %}
				{% set ns.letter = entry[0] %}
				</ul>
				<h3>{{ ns.letter }}</h3>
				<ul>	
			{% endif %}
			<li><a href = {{ url_for(detail_page, filter=entry)}} class="link">{{ entry }}</a></li>
		{% endfor %}
		</ul>
	</div>
{% endmacro %}