{% extends 'base.html' %}

{% block title %}Historic Aberdeen Harbour Arrival Notes{% endblock %}

{% block content %}
<table class="dataframe">
	<tr>
		<th>Date</th>
		<th>Note</th>
	</tr>
	{% for entry in notes %}
	<tr>
		<td nowrap>
			{% if entry[0] != None %}
				<a href="/day/{{ entry[0].split('-')[2] }}/{{ entry[0].split('-')[1] }}/{{ entry[0].split('-')[0] }}" class="link">{{ entry[0] }}</a>
			{% else %}
				{{ entry[0] }}
			{% endif %}
		</td>
		<td>{{ entry[1] }}</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
